body {
	background: url("/img/background.jpg");
	font-family: Fradm, Tahoma;
}

.sidebar 	{
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	width: 200px;
	background-color: #f1f1f1;
	position: fixed;
	height: 100%;
	overflow: auto;
}

.sidebar a {
	display: block;
	color: black;
	padding: 16px;
	text-decoration: none;
}

.sidebar a.active {
	background-color: #fb1004;
	color: white;
}

.sidebar a:hover:not(.active) {
	background-color: #e20f03;
	color: white;
	transition: 0.3s;
}

div.content {
	margin-left: 200px;
	padding: 10px 16px;
	filter:alpha(opacity=10);
	opacity: 0.1;
	-moz-opacity:0.1;
	-webkit-opacity:0.1;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #fb1004;
}

::-webkit-scrollbar-thumb:hover {
	background: #e20f03;
}

@media screen and (max-width: 700px) {
	///* TODO: Colocar hamburguer bar fixa pra mostrar o menu */
	.sidebar {
		width: 100%;
		height: auto;
		position: relative;
	}

	.sidebar a {
		float: left;
	}

	div.content {
		margin-left: 0;
	}

	div.home {
		display: none;
		background: #000;
	}
}

img {
	max-width:100%;
	height:auto;
}
