/* Deixar a body bonitinha com imagem no fundo */
body {
	margin-top: -197px;
	background-image: url('../img/background.jpg')!important;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	font-family: Fradm, Tahoma;
}

/* Declarar fonte diferente */
@font-face {
	font-family: Fradm;
	src: url(fonts/FRADM.TTF);
}

/* Menu lateral e superior */
.sidebar 	{
	left: 0;
	top: 0;
	width: 200px;
	background-color: #f1f1f1;
	position: fixed;
	height: 100%;
	overflow: auto;
}

/* Formatar as opções do menu */
.sidebar a {
	display: block;
	color: black;
	padding: 16px;
	text-decoration: none;
}

/* Trocar a cor da opção no menu quando estiver na página */
.sidebar a.active {
	background-color: #fb1004;
	color: white;
}

/* Fazer o efeito de hover quando passar o mouse nas opções não ativas */
.sidebar a:hover:not(.active) {
	background-color: #e20f03;
	color: white;
	transition: 0.3s;
}

/* Esconder o ícone quando não estiver no modo responsivo */
.sidebar a.icon {
	display: none;
}

/* Div referente à todo o conteúdo das páginas */
div.content {
	margin: 250px;
	min-width: 800px;
	vertical-align: bottom;
	position: absolute;
	margin-left: 25%;
	margin-top: 25%;
}

/* Início das divs das páginas */
div.chome {
	font-size: 36px;
	color: white;
	font-family: Fradm, Tahoma;
}

div.chome img {
	float: right;
	top: 0;
	margin-right: 0;
}

div.chome hr {
	color: white;
	left: 200px;
}

div.chome p {
	font-size: 36px;
	color: white;
	font-family: Fradm, Tahoma;
}

div.cexperiencia {
	display: none;
	font-size: 36px;
	color: white;
	font-family: Fradm, Tahoma;
}

div.cexperienciain p {
	font-size: 25px;
	text-align: justify;
}

div.cformacao {
	display: none;
	font-size: 36px;
	color: white;
	font-family: Fradm, Tahoma;
}

div.cformacaoin {
	font-size: 25px;
	text-align: justify;
}

div.cformacaoin2 img {
	background: rgba(255, 255, 255, 0.7);
	background-size: 10px 10px;
	border : 16px solid transparent;
	border-radius: 5px;
	margin-right: 30px;
}

div.cformacaoin3 img {
	border : 16px solid transparent;
	float: right;
	margin-left: 50px;
}

div.chabilidades {
	display: none;
	font-size: 36px;
	color: white;
	font-family: Fradm, Tahoma;
}

div.chabilidadesin1 {
	font-size: 25px;
	text-align: justify;
}

div.chabilidadesin1 img {
	margin-right: 30px;
}

div.chabilidadesin2 {
	font-size: 25px;
	text-align: justify;
}

div.chabilidadesin2 img {
	border : 16px solid transparent;
	float: right;
	margin-left: 50px;
}

div.chabilidadesin3 {
	font-size: 25px;
	text-align: justify;
}

div.chabilidadesin3 img {
	margin-right: 30px;
}
/* Fim das divs das páginas */

/* Responsividade do menu */
@media screen and (max-width: 1070px) {

	/* Como retirou o menu lateral, alterar a margem */
	body {
		margin-top: 0;
	}

	/* Deixar apenas o Home no menu responsivo */
	.sidebar a:not(:first-child) {
		display: none;
	}

	/* Fixar o menu em cima */
	.sidebar {
		width: 100%;
		height: auto;
		position: fixed;
	}

	/* Formatar as opções do menu */
	.sidebar a {
		float: left;
		padding: 15px;
	}

	/* Formatar o ícone que abre o menu */
	.sidebar a.icon {
		float: right;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
	}

	/* Quando o menu estiver aberto alinhar as opções à esquerda */
	.sidebar.responsive a {
		float: none;
		display: block;
		text-align: left;
	}

	/* Devido a troca de posição do menu, é necessário mudar a margem */
	div.content {
		margin-left: 50px;
	}
}

/* Responsividade básica para que as imagens sigam o tamanho da resolução da página */
img {
	max-width:100%;
	height:auto;
}

/* Colocar estilo na barra de rolagem para navegadores que suportam este hook */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #fb1004;
}

::-webkit-scrollbar-thumb:hover {
	background: #e20f03;
}
/* Fim do hook da barra de rolagem */
