body {
	background: #000;
}

.sidebar 	{
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	width: 200px;
	background-color: #f1f1f1;
	position: fixed;
	height: 100%;
	overflow: auto;
}

.sidebar a {
	display: block;
	color: black;
	padding: 16px;
	text-decoration: none;
}

.sidebar a.active {
	background-color: #4CAF50;
	color: white;
}

.sidebar a:hover:not(.active) {
	background-color: #555;
	color: white;
	transition: 0.3s;
}

div.content {
	margin-left: 200px;
	padding: 10px 16px;
	background: #333;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}
